/** GENERAL */
* {
    box-sizing: border-box;
}

/** LOGIN */

.login-page {
    background: radial-gradient(rgba(215, 215, 215, 0.25) 1px, transparent 1px) 0 0 / 50px 50px, radial-gradient(rgba(215, 215, 215, 0.1) 1px, transparent 1px) 25px 25px rgb(40, 44, 52);
    background-position: 0 0, 25px 25px;
    transition: background 0.5s ease-in-out 0s;
}

/** GRIDVIEW */

.overlay > i {
    position: absolute;
    top: 50%;
    left: 50%;
}
